@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --Purple: hsl(259, 100%, 65%);
    --LightRed: hsl(0, 100%, 67%);

    --White: hsl(0, 0%, 100%);
    --Offwhite: hsl(0, 0%, 94%);
    --Lightgrey: hsl(0, 0%, 86%);
    --Smokeygrey: hsl(0, 1%, 44%);
    --Offblack: hsl(0, 0%, 8%);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Lightgrey);   
}

main {
    background-color: var(--White); 
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 150px;
    border-radius: 20px;
    border-bottom-right-radius: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.123); 
}
section {
    margin: 0px 50px;
}
section#dados {
    display: flex;
    padding: 10px 0;   
}
section#dados div {
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 20px;
}
section#dados label {
    color: var(--Smokeygrey);
    font-weight: bold;
}
section#dados div input {
    width: 130px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    border: 1.5px solid var(--Lightgrey);
    border-radius: 10px;
    outline: none;
    transition: 0.5s;   
}
section#dados div input:hover {
    border: 1.5px solid var(--Purple);
    outline: none;
}
section#dados span {
    color: var(--LightRed);
    font-size: 12px;
    text-align: center;
}


section#res {
    display: flex;
    justify-content: space-between;
    padding: 0px 0;
    border-top: 2px solid var(--Lightgrey);
}
section#res div{
    padding: 0px;
}
section#res div h1 {
    font-family: verdana;
    font-size: 90px;
    font-style: italic;
    font-weight: bolder;
}
section#res div span{
    color: var(--Purple);
}

section#res div button {
    background-color: var(--Purple);
    margin-top: -50px;
    padding: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;  
}
section#res div button:hover {
    background-color: var(--Offblack);
}


